.opener{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #D9C8AC;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}

.vocabularyColumn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.sentenceColumn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.emphasize {
  padding-bottom: 0px;
  border-bottom: 3px solid #ffc81f;
  border-bottom-color: rgb(255, 200, 31);
  text-decoration: none;
}
